{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>高考通 - 规划你的未来 | 全国大学排名_大学专业介绍_高考志愿填报_学业百科</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css'%}">

  <style type="text/css">
  body {
    background-color: #f3f3f3;
  }
  .footer.segment {
    padding-top: 3em;
    padding-bottom: 1em;
  }
  .ui.container.segment {
    margin-top: 7em;
    margin-bottom: 4em;
  }
  .ui.horizontal.middle.aligned.selection.relaxed.link.list a.item {
    color: rgb(0,0,0);
  }
  .ui.horizontal.middle.aligned.selection.relaxed.link.list a.active.item {
    background-color: #1b1c1d1a;
  }
  .ui.inverted.menu .teal.active.item, .ui.inverted.teal.menu {
    background-color: #000000ab;
  } 
  </style>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/semantic.min.js' %}"></script>
</head>

<body>

  <div class="ui teal inverted borderless large top fixed menu">
    <div class="ui container">
      <div class="item">
        <a href="{% url 'index' %}"><h1 style="color: white">高考通</h1></a>
      </div>
      <a class="active item" href="{% url 'school' %}">高校库</a>
      <a class="item" href="{% url 'specialty' %}">专业库</a>
      <a class="item" href="{% url 'lineprovince' %}">高考分数线</a>
      <a class="item" href="{% url 'forecast' %}">志愿填报</a>
    </div>
  </div>

  <div class="ui grid raised container segment">
    <div class="row" style="padding-bottom: 0em;padding-top: 0px;">
      <div class="column">
        <form class="ui form" action="{% url 'school' %}" method="get" id="cform">
          <div class="fields">
            <div class="seven wide field">
              <div class="ui icon input">
                {% if school_name %}
                <input type="text" placeholder="{{ school_name }}" name="school_name">
                {% else %}
                <input type="text" placeholder="搜索大学" name="school_name">
                {% endif %}
              </div>               
            </div>
            <div class="ui red submit button" onclick="document:cform.submit()">查询</div>
          </div>
        </form>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="row">
      <div class="column">
        <div class="ui horizontal middle aligned selection relaxed link list" id="pro">
          <div class="item"><h4 style="color: black;">所属地区</h4></div>
          <a class="active item" href="?province_name=&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">全部</a>
          <a class="item" href="?province_name=北京&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">北京</a>
          <a class="item" href="?province_name=天津&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">天津</a>
          <a class="item" href="?province_name=河北&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">河北</a>
          <a class="item" href="?province_name=河南&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">河南</a>
          <a class="item" href="?province_name=山东&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">山东</a>
          <a class="item" href="?province_name=山西&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">山西</a>
          <a class="item" href="?province_name=陕西&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">陕西</a>
          <a class="item" href="?province_name=内蒙古&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">内蒙古</a>
          <a class="item" href="?province_name=辽宁&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">辽宁</a>
          <a class="item" href="?province_name=吉林&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">吉林</a>
          <a class="item" href="?province_name=黑龙江&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">黑龙江</a>
          <a class="item" href="?province_name=上海&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">上海</a>
          <a class="item" href="?province_name=江苏&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">江苏</a>
          <a class="item" href="?province_name=安徽&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">安徽</a>
          <a class="item" href="?province_name=江西&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">江西</a>
          <a class="item" href="?province_name=湖北&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">湖北</a>
          <a class="item" href="?province_name=湖南&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">湖南</a>
          <a class="item" href="?province_name=重庆&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">重庆</a>
          <a class="item" href="?province_name=四川&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">四川</a>
          <a class="item" href="?province_name=贵州&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">贵州</a>
          <a class="item" href="?province_name=云南&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">云南</a>
          <a class="item" href="?province_name=广东&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">广东</a>
          <a class="item" href="?province_name=广西&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">广西</a>
          <a class="item" href="?province_name=福建&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">福建</a>
          <a class="item" href="?province_name=甘肃&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">甘肃</a>
          <a class="item" href="?province_name=宁夏&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">宁夏</a>
          <a class="item" href="?province_name=新疆&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">新疆</a>
          <a class="item" href="?province_name=西藏&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">西藏</a>
          <a class="item" href="?province_name=海南&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">海南</a>
          <a class="item" href="?province_name=浙江&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">浙江</a>
          <a class="item" href="?province_name=青海&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}">青海</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui horizontal middle aligned selection relaxed link list" id="types">
          <div class="item"><h4 style="color: black;">院校类型</h4></div>
          <a class="active item" href="?province_name={{ province_name }}&type_name=&school_type={{ school_type }}&college={{ college }}">全部</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=综合类&school_type={{ school_type }}&college={{ college }}">综合类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=理工类&school_type={{ school_type }}&college={{ college }}">理工类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=农林类&school_type={{ school_type }}&college={{ college }}">农林类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=医药类&school_type={{ school_type }}&college={{ college }}">医药类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=师范类&school_type={{ school_type }}&college={{ college }}">师范类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=语言类&school_type={{ school_type }}&college={{ college }}">语言类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=财经类&school_type={{ school_type }}&college={{ college }}">财经类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=政法类&school_type={{ school_type }}&college={{ college }}">政法类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=体育类&school_type={{ school_type }}&college={{ college }}">体育类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=艺术类&school_type={{ school_type }}&college={{ college }}">艺术类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=民族类&school_type={{ school_type }}&college={{ college }}">民族类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=军事类&school_type={{ school_type }}&college={{ college }}">军事类</a>
          <a class="item" href="?province_name={{ province_name }}&type_name=其他类&school_type={{ school_type }}&college={{ college }}">其他类</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui horizontal middle aligned selection relaxed link list" id="stype">
          <div class="item"><h4 style="color: black;">办学类型</h4></div>
          <a class="active item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type=&college={{ college }}">全部</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type=普通本科&college={{ college }}">普通本科</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type=独立学院&college={{ college }}">独立学院</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type=专科(高职)&college={{ college }}">专科(高职)</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type=中外合作办学&college={{ college }}">中外合作办学</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type=其他&college={{ college }}">其他</a>
        </div>
      </div>
    </div>   

    <div class="row">
      <div class="column">
        <div class="ui horizontal middle aligned selection relaxed link list" id="college">
          <div class="item"><h4 style="color: black;">高校层次</h4></div>
          <a class="active item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type={{ school_type }}&college=">全部</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type={{ school_type }}&college=985工程">985工程</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type={{ school_type }}&college=211工程">211工程</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type={{ school_type }}&college=一流大学建设高校">一流大学建设高校</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type={{ school_type }}&college=一流学科建设高校">一流学科建设高校</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type={{ school_type }}&college=教育部直属">教育部直属</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type={{ school_type }}&college=中央部委">中央部委</a>
          <a class="item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type={{ school_type }}&college=自主招生试点">自主招生试点</a>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="row">
      <div class="column">
        <div class="ui mini horizontal statistic">
          <div class="label">
            共匹配学校
          </div>
          <div class="value">
            {{ count }}
          </div>            
        </div>         
      </div>
    </div>

    <div class="row">
      <div class="column">
        <table class="ui single line selectable black table">
          <thead>
            <tr>
              <th>学校名称</th>
              <th>办学类型</th>
              <th>报考热度排名</th>
              <th>高校对比</th>
            </tr>
          </thead>
          <tbody>
          {% for i in schoolinfo1 %}
            <tr >
              <td>
                <h2 class="ui image header">
                <img src="{% static 'images/307.jpg' %}" class="ui massive rounded image">
                <div class="content"><a class="ui header" href="{% url 'school_detail' i.id %}"><h3>{{ i.school_name }}</h3></a>
                  <div class="sub header"><h4>{{ i.province_name }}</h4></div>
                </div>
                </h2>
              </td>
                {% if i.school_type == '6000' %}
              <td>普通本科</td>
                {% elif i.school_type == '6001' %}
              <td>独立学院</td>
                {% elif i.school_type == '6002' %}
              <td>专科(高职)</td>
                {% elif i.school_type == '6003' %}
              <td>中外合作办学</td>
                {% elif i.school_type == '6007' %}
              <td>其他</td>
                {% endif %}
              <td>理工类40</td>     
              <td>
                <a href="{% url 'school_compare' %}"><button class="ui primary button">加入对比</button></a>
              </td>                                         
            </tr>
          {% endfor %}
          </tbody>
          <tfoot>
            <tr><th colspan="4">
              <div class="ui right floated pagination menu">
                  {% if schoolinfo1.has_previous %}
                <a class="icon item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}&page={{ schoolinfo1.previous_page_number }}">
                  <i class="left chevron icon"></i>
                </a>
                  {% endif %}
                <a class="item">{{ schoolinfo1.number }}</a>
                <a class="item">...</a>
                <a class="item">{{ schoolinfo1.paginator.num_pages }}</a>
                   {% if schoolinfo1.has_next %}
                <a class="icon item" href="?province_name={{ province_name }}&type_name={{ type_name }}&school_type={{ school_type }}&college={{ college }}&page={{ schoolinfo1.next_page_number }}">
                  <i class="right chevron icon"></i>
                </a>
                   {% endif %}
              </div>
            </th>
          </tr></tfoot>
        </table>
      </div>     
    </div>

  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided grid">
        <div class="row">
          <div class="eleven wide column">
            <h4 class="ui inverted header">高考通使用说明</h4>
            <p>1、本查询系统的信息来源于各高校招生网对外公开的数据，高考通提供此信息之目的在于为高考生提供更多的信息作为参考,请综合各种信息进行报考</p>
            <p>2、如对本系统有任何疑问请联系我们,联系方式:luoxinjia58@gmail.com</p>
          </div>
          <div class="five wide column">
            <img class="ui small image" src="{% static 'images/e.jpg' %}" style="margin-left: 7em;">
            <p style="margin-left: 7em;">扫描二维码关注我们</p>            
          </div>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <div class="ui center aligned container">
        <img class="ui avatar image" src="{% static 'images/logo.jpg' %}">
        <span>© 2019 焦作一米粒有限公司</span>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
        var url = window.location.search.split("&page")[0];
            $("#pro a").each(function(){
                $this = $(this);
                if($this[0].href==window.location.origin+window.location.pathname+url){
                    $("#pro a").removeClass("active");
                    $(this).addClass("active");  //active表示被选中效果的类名
                }
            });
            $("#types a").each(function(){
                $this = $(this);
                if($this[0].href==window.location.origin+window.location.pathname+url){
                    $("#types a").removeClass("active");
                    $(this).addClass("active");  //active表示被选中效果的类名
                }
            });
            $("#stype a").each(function(){
                $this = $(this);
                if($this[0].href== window.location.origin+window.location.pathname+url){
                    $("#stype a").removeClass("active");
                    $(this).addClass("active");  //active表示被选中效果的类名
                }
            });
            $("#college a").each(function(){
                $this = $(this);
                if($this[0].href== window.location.origin+window.location.pathname+url){
                    $("#college a").removeClass("active");
                    $(this).addClass("active");  //active表示被选中效果的类名
                }
            });
        });
  </script>
  <script>

  </script>
</body>

</html>
